#timeline{
    width: 90vw;
    height: 40vh;
    border: solid 1px gray;
}

.tl-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    padding: 10px;

    background-color: white;
    border: solid 1px red;

    opacity: 0;
}
