@font-face {
    font-family: 'futuralight';
    src: url('/styles/font/futura_light_bt-webfont.woff2') format('woff2'),
         url('/styles/font/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.menu_btn {
	/* bouton du menu */
    color: white;
    display: inline-block;
    z-index: 99;
    cursor: pointer;
}

/*.contact_btn {
	/* bouton du menu */
	position: fixed;
	background: url(../images/menu/menu_contact.png) center center no-repeat;
	display: block;
	height: 100px;
	width: 100px;
	bottom: 0;
	left: 0;
	z-index: 50;
}

.research_btn {
	/* bouton du menu */
	position: fixed;
	background: url(../images/menu/research_btn1.png) center center no-repeat;
	display: block;
	height: 100px;
	width: 100px;
	top: 0;
	right: 0;
	z-index: 50;
}

.access_btn {
	/* bouton du menu */
	position: fixed;
	background: url(../images/menu/access_btn1.png) center center no-repeat;
	display: block;
	height: 100px;
	width: 100px;
	bottom: 0;
	right: 0;
	z-index: 50;
}

#menu {
	/* menu lui meme */
    display: none;
	position: absolute;
	width: 100%;
    height: auto;
	z-index: 0;
    background-color: #111;
    top: 0;
    left: 0px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: dimgrey;
}

.navigation {
    display: block;
}

.toggleSubMenu {
    margin-top: 10px;
    margin-bottom: 10px;
    left: 0px;
	font-family: 'futuralight', 'Roboto Condensed', sans-serif;
    font-size: 25px;
    height: auto;
    background-color: #111;
    margin-right: 30px;
    z-index: 99;
    vertical-align: top;
    display: inline-block;
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: dimgrey;
 /*   background-color: red; /*AIDE AU REPERAGE*/
}

.toggleSubMenu span {
    padding-left: 30px;
    display: inline-block;
    margin-bottom: 5px;
}

#menu ul {
    list-style: none;
    padding: 0;
 /*   background-color: rebeccapurple; /*AIDE AU REPERAGE*/
}

#menu ul li a:active {
	/* change les opacité quand le truc est actif */
	opacity: 0.6;
}

#menu ul li a:hover {
	/* change les opacité quand on passe la souris */
	opacity: 0.7;
}

#menu ul li a { 
    /*TEXTES*/
	/* permet affichage des plus par la width et definit les line height de tout le menu */
    color: white;
	text-decoration: none;
	font-size: 18px;
	line-height: 22px;
    width: 130px;
}

#menu ul .sousmenu { 
    /*Années*/
    display: inline-block;
    width: 200px;
    margin-bottom: 5px;
}

#menu ul .sousmenu li {
    display: inline-block;
    padding: none;
    width: 42px;
}

#menu ul .sousmenu a {
    font-size: 15px;
}

.toggleSubMenu li {
    font-size: 15px;
 /*   background-color: aqua; /*AIDE AU REPERAGE*/
}

.navigation {
    width: auto;
    margin: 5px 0;
}

.navigation a.sous {
    background: none;
	padding-left: 30px;
	position: relative;
    font-size: 22px;
	line-height: auto;
    display: inline-block;
}

header {
	/*typo du header*/
    display: block;
    position: fixed;
    z-index:95;
	color: white;
	font-family: 'futuralight', 'Cutive Mono', monospace;
    font-size: 20px;
	padding: 10px;
    left: 0;
	padding-left: 20px;
    width: 100%;
    background-color: #111;
    top: 0;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: dimgrey;
}

.header1 {
    display: block;
    position: relative;
    z-index:95;
	color: white;
	font-family: 'futuralight', 'Cutive Mono', monospace;
	padding: 5px 5px 0px 27px;
    width: 100%;
    background-color: #111;
    height: 40px;
    border-top-style: solid;
    border-top-width: thin;
    border-top-color: white;
}

.entete {
    color: white;
    text-decoration: none;
    display: inline-block;
    z-index: 99;
    font-size: 20px;
}
