@font-face {
    font-family: 'futuralight';
    src: url('/styles/font/futura_light_bt-webfont.woff2') format('woff2'),
         url('/styles/font/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

 body {
 		font-family: "futuralight", "Helvetica Neue", Helvetica, Arial, sans-serif;
 		font-size: 12px;
 } 