/* Feuille de style de la frise chronologique */

@font-face {
    font-family: 'futuralight';
    src: url('/styles/font/futura_light_bt-webfont.woff2') format('woff2'),
         url('/styles/font/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

div {
    font-family: 'futuralight', monospace, sans-serif;
}


