@font-face {
    font-family: 'futuralight';
    src: url('/styles/font/futura_light_bt-webfont.woff2') format('woff2'),
         url('/styles/font/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

 body {
 		font-family: "futuralight", "Helvetica Neue", Helvetica, Arial, sans-serif;
 		font-size: 12px;
 } 

#arbo-input {
		position: absolute;
		top: 10px;
		left: 5%;
}

#zoom-in {
		background-attachment: scroll;
}


#zoom-slider {
		width: 38.5%;
		position: absolute;
		height: 50px;
		top: 30px;
		left: 7.5%;
		padding: 0;
		transform-origin: 10px 50px;
		z-index: 1;
}

#tickmarks {
		font-size: 10px;
		display: flow;
}

.links {
		fill: none;
		stroke: #000;

}

.link-extensions {
		fill: none;
		stroke: #000;
		stroke-opacity: .25;
}

.c {
		font: 10px sans-serif;
}

.link--active {
		stroke: #000 !important;
		stroke-width: 6px;
		stroke-opacity: 0.5;
}

.link-extension--active {
		stroke-opacity: .6;
}

.label--active {
		font-weight: bold;
		opacity: 1;
}

.searched {
		font-weight: bold;
}

.label-text {
		background-color: rgba(254, 254, 254);
}

.cartabs-text {
		font-size: 7pt;
		fill: gray;
}

#definition {
		position: fixed;
		top: 50px;
		left: 10px;
}

div.tooltip {
		position: absolute;
		text-align: left;
		color: white;
		width: 100px;
		max-width: 300px;
		height: auto;
		padding: 5px;
		font: 12px sans-serif;
		background-color: grey;
		border: 0px;
		border-radius: 8px;
		pointer-events: none;
}

.niveau {
		fill-opacity: 0;
		stroke: grey;
		stroke-dasharray: 5 5;
		stroke-width: 2;
}

#dash {
		position: absolute;
		top: 50px;
		bottom: 50px;
		right: 50px;
		width: 17%;
		padding-left: 1em;
		padding-right: 1em;
		padding-top: 1em;
		padding-bottom: 1em;
		z-index: 1;
}

#arbo {
		position: absolute;
		top: 70px;
    height: 90%;
    left: 0px;

}

#recherche {
		left: 0px;
		right: 0px;
		width: 100%;
		/* Full-width */
		font-size: 19px;
		/* Increase font-size */
		/*        padding: 5px;*/
		/* Add some padding */
		text-align: right;
		/*        background-color: white;*/
		/*        border-radius: 5px;*/
		position: relative;
		z-index: 2;
		background-color: transparent;
		border:0px;

}

#resultat {
		position: absolute;
		width: 100%;
		height: auto;
		overflow-y: scroll;
		margin-right: 1em;
		margin-left: 1em;
		margin-bottom: 1em;
		top: 80px;
		right: 50px;
		bottom: 0;
}

#resultat h2 {
		width: 100%;
}

.resultat-entry {
		padding: 0.5em;
}

.resultat-entry:hover {
		background-color: lightgray;
}

h2 {
		text-align: right;
		color: black;
		font-size: 1vw;
		font-style: bold;
		margin: 0px;
		margin-top: 5px;
		padding: 0px;
		/*		float:right;*/
}

h3 {
		text-align: left;
		margin: 0px;
		color: black;
		font-size: 1vw;
		line-height: 1vw;
}

p {
		padding: 0px;
		margin: 0px;
		color: grey ;
		text-align: right;

}

p#synonymes {
		color: black;
		font-style: italic;
		text-align: left;
		width: 49%;
}

::-webkit-scrollbar {
		display: none;
}

/*Legendes slider dynamiques*/

div#legendes {
		position: absolute;
		left: 5%;
		right: 40%;
		text-align: center;
    /* width:115px; */
}
div#legendes .niveau{
    width: 120px;
}

#legendes>div {
		/* inline-block au lieu de float pour nos boites , elle reagiront a text-align*/
		display: inline-block;
    float: left;
}

#legendes:after {
		/* on ajoute une derniere ligne virtuel pour emuler text-align:justify de la premiere à la derniere ligne du contenu */
		display: inline-block;
		content: '';
		width: 99%;
		vertical-align: center;
}

/* on vire l'espace indésirable de la derniere ligne */

#legendes {
		line-height: 0;
		top: 2%;
}

#legendes>div {
		line-height: 1.2em;
}

div#niveau {
		display: inline-block;
		width: 13%;

}
