/* Obsolète : fichier remplacé par /styles/territoires.css */
/* Test pour la page de présentation des outils : presentation.html */

@font-face {
    font-family: 'futuralight';
    src: url('/styles/font/futura_light_bt-webfont.woff2') format('woff2'),
         url('/styles/font/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

::-webkit-scrollbar { 
    display:none; 
}

/* STYLES DE TEXTES */

.titre {
	/* titre cutive */
	font-family: 'futuralight', 'Cutive Mono', monospace;
	font-size: 50px;
	text-align: center;
    margin-bottom: 20vh;
}

.titre1 {
    font-family: 'futuralight', 'Cutive Mono', monospace;
	font-size: 50px;
}

/* STYLES DES ELEMENTS */

section {
    position: relative;
}

ul {
    display: inline-block;
    width: 50%;
    margin: 0;
    padding: 0;
}

.intro {
    margin-right: 60px;
    margin-bottom: 20vh;
}

.intro p {
    font-family: 'futuralight';
    text-align: justify;
    margin-left: 60px;
    color: inherit;
}

.arbo {
    width: 100%;
    margin: 0;
    height: 900px;
}

/* STYLE DE LA BIBLIO */

.titreleft {
	/* titre cutive */
	font-family: 'futuralight', 'Cutive Mono', monospace;
	font-size: 45px;
	text-align: left;
	width: 20vw;
}

.petit {
    font-size: 15px;
    font-weight: normal;
    line-height:1.2em;
}


.paragraphe {
	/*texte presentation*/
	padding: 1vw 1vh;
	font-size: 15px;
	text-align:left;
	font-family: 'futuralight', 'Cutive Mono', monospace;
	font-weight: normal;
	top:0;
	position:relative;
	vertical-align: top;
}

iframe {
    border: none;
}

/*
.popUp img {
    display: none;
    border: 1px;
    border-style: solid;
    border-color: darkgray;
    width: 200%;
    height: auto;
    z-index: 999;
}

.popUp:hover img {
    display: block;
}
*/

.surligne {
	font-size: 20px;
	background-color: rgba(203, 203, 203, 0.55);
	text-align: center;	
}