@font-face {
    font-family: 'futuralight';
    src: url('/styles/font/futura_light_bt-webfont.woff2') format('woff2'),
         url('/styles/font/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

::-webkit-scrollbar { 
    display:none; 
}

/* DIFFERENTS CORPS */

body.accueil {
	/*    background-size: 100vw 100vh;*/
/*
	background-image: url(../images/fonds/Fond_Ath%C3%A8nes.png);
	background-size: auto 200vh;
	background-repeat: no-repeat;
	background-attachment: static;
	background-origin: border-box;
*/
	margin: 0;
	padding: 0;
	z-index: 0;
	font-family: 'futuralight', 'futuralight', 'Cutive Mono', monospace;
	font-weight: normal;
	overflow-x: scroll;
}

body.outils {
/*
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1JyBoZWlnaHQ9JzUnPgo8cmVjdCB3aWR0aD0nNScgaGVpZ2h0PSc1JyBmaWxsPScjZmZmJy8+CjxyZWN0IHdpZHRoPScxJyBoZWlnaHQ9JzEnIGZpbGw9JyNjY2MnLz4KPC9zdmc+"); 
	background-repeat: repeat;
*/
	margin: 0;
	padding: 0;
	z-index:0;
	font-family: 'futuralight', 'Cutive Mono', monospace;
	overflow:hidden;
	width:100vw;
	height: 100vh;
	position: fixed;
	top:0;
}

body.galerie {
	background-image: url("../images/fonds/Fond_Ath%C3%A8nes.png");
	background-size: 375vh auto;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	z-index: 0;
	font-family: 'futuralight', 'Cutive Mono', monospace;
	overflow-x: hidden
}

body.galerie2 {
	background-image: url("../images/Fond_Ath%C3%A8nes.png");
	background-size: auto 310vh;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	z-index: 0;
	font-family: 'futuralight', 'Cutive Mono', monospace;
	overflow-x: hidden
}

body.athenes {
	background-image: url(../images/Fond_Ath%C3%A8nes.png);
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	z-index: 0;
	font-family: 'futuralight', 'Cutive Mono', monospace;
}

body.lisbonne {
	background-image: url(../images/Fond_Lisbonne.png);
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	z-index: 0;
	font-family: 'futuralight', 'Cutive Mono', monospace;
	overflow-x: hidden;
}

body.urbino {
	background-image: url(../images/Fond_Urbino.png);
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	z-index: 0;
	font-family: 'futuralight', 'Cutive Mono', monospace;
	
	overflow-x: hidden;
}

body.batimentsvides {
	background-image: url(../images/presentationPFE/photo%20couverture.jpg);
	background-size: 100vw auto;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	z-index: 0;
	font-family: 'futuralight', 'Cutive Mono', monospace;
	overflow-x: hidden;
	top: -10vh;

}

body.batimentsclasses {
	background-image: url(../images/presentationPFE/ce616e88da26c3f72951a993c6fbb122.jpg);
	background-size: 100vw auto;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	z-index: 0;
	font-family: 'futuralight', 'Cutive Mono', monospace;
	overflow-x: hidden;
	top: -10vh;

}

body.jeuxolympiques {
	background-image: url(../images/presentationPFE/1.JPG);
	background-size: 100vw auto;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
	z-index: 0;
	font-family: 'futuralight', 'Cutive Mono', monospace;
	overflow-x: hidden;
	top: -10vh;

}


/* DIFFERENTES SECTIONS */

.viewport {
	/* première section*/
	padding: 5vh 5vw;
	width: 100vw;
	height: 100vh;
	position: relative;
}

.centeredtext {
	position: absolute;
	left: 50vw;
	top: 30vh;
	width:100vw;
	transform: translateY(-50%) translateX(-50%);
	text-align: center;
}

.Accueil{
    position: absolute;
    text-align: center;
    padding: 0 21em;
    margin: 220px 0;
    vertical-align: middle;
}

.suivant {
    padding: 85vh 48.5%;
	position: static;
}

.pres {
	/* première section*/
	width: 100%;
	height: 100vh;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
}

.pres .titre {
	padding-top: 30vh;
}

.pres .centre {
	padding-right: 22vw;
	padding-left: 22vw;
	font-weight: 800;
	text-align: justify;
	font-family: 'futuralight', 'Cutive Mono', monospace;
}

.video {
	/*2e section*/
	background: rgba(172, 172, 172, 0.41);
	position: absolute;
	bottom: -80vh;
	height: 80vh;
	width: 100%;
}

.presentation {
	/*3e section : presentation*/
	/*
    background-size: cover;
    background-image: url(../images/fonds/Fond_Ath%C3%A8nes.png);
*/
	padding: 5vh 5vw;
	height: 100vh;
	width: 100vw;
	position: static;
	top:-100vw;
	overflow: scroll;
}

.territoire {
    padding: 5vh 5vw;
    height: 65vh;
    width: 100vw;
    position: relative;
}

.AccueilBis {
    position: absolute;
    padding: 0 15vw;
    text-align: center;
}

.AccueilTer {
    display: block;
    position: absolute;
    padding: 0 24vw;
    text-align: center;
}

.AccueilTer td {
    margin: 3vw;
}

.contacts {
	position: static;
	width: 100vw;
	height: 160vh;
	background: rgba(172, 172, 172, 0.41);
	color: white;
	padding: 5vh 15%;
	font-size: 15px;
	overflow: hidden;
}

.window {
	margin-top: 20vh;
	/* poussé de la moitié de hauteur de viewport */
	transform: translateY(-50%);
	/* tiré de la moitié de sa propre hauteur */
	width: 100%;
	height: 30vh;
	text-align: center;
	font-size: 2.5vh;
}

.PFE {
	text-align: center;
	padding: 0 20vw;
	margin: 0 auto;

}

/* STYLES DES ELEMENTS */

.Accueil img {
    height: 200px;
    width: 200px;
    margin: 2vw 1vw 0;
/*    border-radius: 100%;*/
    background-size: contain;
}

.AccueilBis img {
    height: 230px;
    width: 230px;
    padding: 1vw 1vw;
/*    border-radius: 100%;*/
    background-size: contain;
}

.fleche {
    position: absolute;
    padding: 10px;
    opacity: 70%;
}

.fleche:hover {
    transform: translateY(10px);
    transition-duration: .5s;
}

.video iframe {
	/*2e section : video*/
	position: absolute;
	width: 100vw;
	height: 100vh;
}

.window img {
	height: 100%;
	width: auto;
	padding: 5vh;
}

#presentation video {
	padding-left: 14vw;
	width: 70vw;
	height: auto;
	position: relative;
	z-index: 0;
	bottom: 0;
}

a {
	/*style des liens*/
    font-family: 'futuralight';
    font-size: 22px;
	text-decoration: none;
	color: black;
}

.PFE img {
	height: auto;
	width: 15vw;
	padding: 6vh 2vw;
}


.bio-content img {
	height: 50vh;
	width: auto;
	padding-left: 30vw;
}

.noir {
	font-size: 2vh;
	background-color: rgba(203, 203, 203, 0.55);
	line-height: 2.5vh;
	width: 23vw;
	float: left;
}

.blanc {
	font-size: 2vh;
	background-color: rgba(203, 203, 203, 0.55);
	line-height: 2.5vh;
	width: 30vw;
	color: white;
	float: right;
	padding-right: 45vw;
}

.present {
	padding-left: 13vw;
	font-size: 2vh;
	width: 23vw;
	float: left;
	font-weight:lighter;
}

#contenant {
	padding-left: 45vw;
	padding-right: 100px;
	margin-bottom: 100px;
}

#slide {
	padding-right: 35vw;
	width: 40vw;
}

.contacts img {
	height: 5vh;
	width: auto;
	padding-left: 4vw;
}

.AdaptSize{
	max-height: 100%;
	max-width: 100%;
	position:static;
	object-fit:contain;
	/*	left: 50vw;*/
	display: block;	
	margin: auto;
	top: auto;
	bottom:auto;
}

.gif {
	max-height: 100%;
	max-width: 100%;
	position:static;
	object-fit:contain;
	/*	left: 50vw;*/
	display: block;	
	margin: auto;
	top: auto;
	bottom:auto;
	
}

/* STYLES DE TEXTES */

.titre {
	/* titre cutive */
	font-family: 'futuralight', 'Cutive Mono', monospace;
	font-size: 50px;
	line-height: 10vh;
	text-align: center;
}

.mainTitle {
	/* titre roboto */
	background-size: cover;
	font-size: 50px;
	font-family: 'futuralight', sans-serif;
	color: black;
	text-align: center;
	padding-top: 20vh;
	line-height: 0vh;
}

.titreleft {
	/* titre cutive */
	font-family: 'futuralight', 'Cutive Mono', monospace;
	font-size: 50px;
	line-height: 10vh;
	text-align: left;
	width: 20vw;
}
	
.mainTitleleft {
	/* titre roboto */
	background-size: cover;
	font-size: 50px;
	font-family: 'futuralight', sans-serif;
	color: black;
	text-align: left;
	padding-top: 10vh;
	line-height: 0vh;
	width: 20vw;
}

.petit {
	font-size: 15px;
	font-weight: normal;
}

.sous-titre {
	/* soustitre */
	font-family: 'futuralight', 'Roboto Condensed', sans-serif;
	color: rgba(100, 100, 100, 0.5);
	padding-top: 2vh;
	font-size: 25px;
}

.paragraphe {
	/*texte presentation*/
	padding: 1vw 1vh;
	font-size: 15px;
	text-align:left;
	font-family: 'futuralight', 'Cutive Mono', monospace;
	font-weight: normal;
	top:0;
	position:relative;
	vertical-align: top;
}


.paragraphe th {
	width: 100vw;
	font-weight: 100;
    text-align: justify;
}

/* Seulement page biblio ?
.bibli {
	position: relative;
	top: 20vh;
	width: 100%;
	font-size: 2.5vh;
	padding-left: 12%;
}
*/

.surligne {
	font-size: 15px;
	background-color: rgba(203, 203, 203, 0.55);
	line-height: 3vh;
	text-align: center;
	
}

.texte {
	font-size: 15px;
	text-align: left;
}

.rightalign {
	text-align: right;
	padding-right: 13vw;
}


/* FOOTER */

#footer {
/*	clear: both;*/
	position:sticky;
	text-align: right;
	z-index:0;
}

#footer.bas {
/*	clear: both;*/
	bottom:0px;
	text-align: center;
}

#footer.tresbas {
	bottom: 0vh;
	width: 100vw;
	text-align: center;
}

#footer.haut {
	clear: both;
	position: absolute;
	bottom: -78vh;
	width: 100vw;
	text-align: right;
}

#footer.moyen {
	clear: both;
	position: absolute;
	bottom: -120vh;
	width: 100vw;
	text-align: right;
}


.floatright {
	font-family: 'futuralight', 'Roboto Condensed', sans-serif;
	font-size: 15px;
	color: rgba(100, 100, 100, 0.5);
	text-align: right;
	float: right;
	padding-left: 73vw;

}


#footer img {
	height: 3vmin;
	width: auto;
	padding-left: 6vw;
	opacity: 0.5;
}

#footer td {
	font-size: 15px;
}


/*Inutile ?*/

.bio-content {
	display: none;
}

.bios-texte {
	position: absolute;
	left: 50vw;
	top: 60vh;
	text-align: left;
}

.bio-content .bios-texte img {
	width: 30px;
	height: auto;
	position: relative;
	padding-left: 0;

}

/*Inutile ?*/

canvas {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -999;
}
