@font-face {
    font-family: 'futuralight', 'futuralight';
    src: url('/styles/font/futura_light_bt-webfont.woff2') format('woff2'),
         url('/styles/font/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

::-webkit-scrollbar { 
    display:none; 
}

body.outils {
	margin: 0;
	padding: 0;
	z-index:0;
	font-family: 'futuralight', 'Cutive Mono', monospace;
	overflow:hidden;
	width:100%;
	height: 100vh;
	position: fixed;
	top:0;
}

td {
    margin: 0;
    padding: 0;
}

.titre {
	/* titre cutive */
	font-family: 'futuralight', 'Cutive Mono', monospace;
	font-size: 50px;
	text-align: center;
    padding-top: 20vh;
    padding-bottom: 6vw;
}

.titre1 {
    font-family:'futuralight', monospace;
    font-size: 20px;
    font-weight: 600;
    top: 0;
    margin-bottom: 0;
}

.territoire {
    height: 60vh;
    padding-left: 5%;
    width: 95%;
    position: relative;
}

.AccueilBis {
    position: absolute;
    padding: 0 15vw;
    text-align: center;
}

.AccueilBis img {
    height: 230px;
    width: 230px;
    padding: 1vh 2vw;
    border-radius: 100%;
    background-size: contain;
}

.AccueilBis a {
    /*style des liens*/
	text-decoration: none;
	color: black;
    font-family: 'futuralight', sans-serif;
    font-size: 20px;
}

.intro ul {
    vertical-align: top;
    width: 47%;
    display: inline-block;
    padding-left: 3%;
}

.intro p {
    padding-left: 0;
}

.partenaires {
    padding-top: 4vh;
    background-color: #eee;
}

.partenaires ul {
    display: inline-block;
    vertical-align: top;
    margin: 0 6vw;
}

.partenaires1 {
    background-color: #eee;
    padding-bottom: 0;
}

.partenaires1 ul {
    vertical-align: top;
    display: inline-block;
    margin-right: 4vh;
}

p {
    font-family: 'futuralight', sans-serif;
    text-align: justify;
    padding-left: 7px;
    margin: 0;
}

#masonry { /* Masonry container */
    column-count: 2;
    column-gap: 5em;
    width: 100%;
    grid-auto-rows: 0;
}

#item { /* Masonry bricks */
    background-color: #eee;
    display: inline-block;
    margin: 0 0 30px;
    padding: 15px 15px 15px 15px;
    width: 100%;
}

#item img {
    width: 100%;
}